<html>

<head>
    <title>Academic Progress</title>
    <style>
        .error {
            color: red;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <h1>Graduation Tracker</h1>
    <form method="post">
        <label for="student_id">Student ID:</label><br>
        <input type="text" id="student_id" name="student_id"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="program">Program:</label><br>
        <select id="program" name="program">
            {% for id, program in programs.items() %}
            <option value="{{ id }}">{{ program.name }}</option>
            {% endfor %}
        </select><br><br>
        <input type="submit" value="Submit">
    </form>

    {% if error %}
    <div class="error">{{ error }}</div>
    {% endif %}

    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
</body>

</html>