<!DOCTYPE html>
<html>

<head>
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>Privacy Policy</h1>

    <p>This website does not store any personal information or use cookies. When a user inputs their credentials, the
        information is sent directly to <a
            href="https://studentportal.green.edu.bd/">https://studentportal.green.edu.bd/</a> for the purpose of
        accessing the user's
        academic progress. The website does not retain any information about the user or their credentials.</p>

    <p>By using this website, you acknowledge and agree to the terms of this privacy policy.</p>
</body>

</html>