<!DOCTYPE html>
<html>

<head>
    <title>Academic Progress Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>Academic Progress Report</h1>

    {% if semesters_left is defined %}
    <table>
        <tr>
            <th>Current Semester:</th>
            <td>{{ running_sememster }}</td>
        </tr>
        <tr>
            <th>Total Completed Semesters:</th>
            <td>{{ total_semeseter_completed }}</td>
        </tr>
        <tr>
            <th>Total Completed Credits:</th>
            <td>{{ total_credit }}</td>
        </tr>
        <tr>
            <th>Total Semesters Left:</th>
            <td>{{ "%.2f"|format(semesters_left) }}</td>
        </tr>
        <tr>
            <th>Total Credits Left:</th>
            <td>{{ credits_left }}</td>
        </tr>
    </table>
    {% endif %}

    <script src="{{ url_for('static', filename='js/prevent-form-reload.js') }}"></script>
</body>

</html>